#banner {
    height: 160px;
    width: 100%;
}

.banner-list {
    height: 40px;
    width: 100%;
    background: #252526;
    position: relative;
}

.banner-list .banner-nav {
    width: 1190px;
    height: 40px;  
    margin: 0 auto;
    position: relative;
}

.banner-list .banner-nav .nav-list {
    position: absolute;
    top: 0;
    left: 100px;
    width: 1090px;
    height: 40px;
    border-left: 1px solid rgb(152, 0, 0);
    overflow: hidden;
}

.banner-list .banner-nav .nav-list li {
    float: left;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    color: #fff;
    font-size: 16px;
    position: relative;
}
.banner-list .banner-nav .nav-list li a {
    color: #fff;
}

.banner-list .banner-nav .nav-list li:hover {
    background-color: rgb(152, 0, 0);
}

.banner-list .banner-nav .nav-list li .sf-nav-new {
    display: block;
    width: 24px;
    height: 16px;
    position: absolute;
    right: 0;
    top: 0;
    background: url(../img/tre.png) no-repeat -20px -70px;
}

.banner-list .banner-nav .nav-list li .sf-nav-hot {
    display: block;
    width: 24px;
    height: 16px;
    position: absolute;
    right: 0;
    top: 0;
    background: url(../img/tre.png) no-repeat -20px -94px;
}

.banner-g {
    height: 120px;
    width: 100%;
    position: relative;
}

.banner-g .banner-img {
    height: 120px;
    width: 1190px;
    margin: 0 auto;
}

.banner-g .banner-map {
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -595px;
    width: 1190px;
    height: 120px;

}

.banner-g .banner-map .map {
    width: 1190px;
    height: 120px;
    cursor: pointer;
    overflow: hidden;
}

.banner-g .banner-map .map a {
    float: left;
    width: 100%;
    height: 100%;
}

.banner-g .banner-map .map .map-logo {
    width: 308px;
    height: 120px;
    float: left;
}

.banner-g .banner-map .map .map-mate {
    width: 263px;
    height: 120px;
    float: left;
}

.banner-g .banner-map .map .map-changxiang {
    width: 263px;
    height: 120px;
    float: left;
}

.banner-g .banner-map .map .map-nova {
    width: 356px;
    height: 120px;
    float: left;
}

/* 手机数码配件 */

#wrapper {
    width: 100%;
    height: 40px;
    background: #f8f8f8;
}

.wrapper-all {
    width: 1190px;
    height: 40px;
    margin: 0 auto;
}

.wrapper-all .breadcrumb {
    height: 20px;
    padding: 10px 0;
    line-height: 20px;
    z-index: 10;
    /* background: #f8f8f8; */
}

.wrapper-all .breadcrumb a {
    font-size: 12px;
    line-height: 20px;
    height: 20px;
    color: #666666;
}

.wrapper-all .breadcrumb a:hover {
    color: #f60;
    text-decoration: underline;
}

.wrapper-all .breadcrumb .sep {
    float: left;
    height: 20px;
    line-height: 20px;
    padding: 0 6px;
    color: #bbb;
}

.wrapper-all .breadcrumb .dropdown {
    float: left;
    height: 20px;
    position: relative;
}

.wrapper-all .breadcrumb .dropdown a {
    position: relative;
    height: 18px;
    padding: 0 20px 0 8px;
    line-height: 18px;
    background: #fff;
    z-index: 2;
    text-align: center;
}

.wrapper-all .breadcrumb .dropdown i {
    position: absolute;
    top: 7px;
    right: 6px;
    width: 8px;
    height: 4px;
    background: url(../img/f-icons-ex1.png)-1046px -292px;
    z-index: 3;
}

.wrapper-all .header-shop {
    height: 20px;
    padding: 10px 0;
    line-height: 20px;
}

.wrapper-all .header-shop .header-shop-label {
    vertical-align: top;
    display: inline-block;
    margin-right: 11px;
    margin-top: 3px;
    background: #f60;
    font-size: 10px;
    height: 14px;
    line-height: 14px;
    padding: 0 3px;
    color: #fff;
    border-radius: 2px;
}

.wrapper-all .header-shop .header-shop-name {
    vertical-align: top;
    display: inline-block;
    margin-right: 27px;
    margin-top: 4px;
    font-size: 12px;
    height: 12px;
    line-height: 12px;
    color: #333;
    max-width: 144px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.wrapper-all .header-shop .header-shop-name:hover{
    text-decoration: underline;
}
.wrapper-all .header-shop .header-shop-contact:hover span{
    color: #f60;
}
.wrapper-all .header-shop .header-shop-contact span{
    color: #666;
}
.wrapper-all .header-shop .header-shop-contact .header-shop-icon {
    vertical-align: top;
    display: inline-block;
    font-size: 12px;
    height: 16px;
    line-height: 16px;
    width: 16px;
    margin-right: 1px;
    background: url(../img/header-contact-self.gif) no-repeat;
}