body {
    background: #f8f8f8;
}

.head {
    width: 100%;
    height: 88px;
}

.header {
    width: 990px;
    height: 88px;
    margin: 0 auto;
    position: relative;
}

.logo {
    width: 190px;
    height: 100%;
    float: left;
    margin-right: 24px;
    background: url(../img/sprite1.png) no-repeat;
}

.logo-txt {
    float: left;
    font-size: 18px;
    color: #666;
    line-height: 88px;
}

.advise-login {
    margin-top: 63px;
    color: #333333;
    font-size: 12px;
    line-clamp: 18px;
}
.advise-login:hover{
    color: #f40;
}
.main-login {
    width: 100%;
    height: 466px;
}

.login-main {
    width: 990px;
    height:350px;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-top: 3px solid #f90;
    padding: 55px 0;
    line-height: 1.5;
}

.login-main form {
    width: 990px;
    height: 350px;
}

.login-main .reg-form {
    width: 380px;
    margin: 0 auto;
}

.login-main .reg-form .gift-pkg {
    width: 380px;
    padding-left: 2px;
    margin-bottom: 17px;
    font-size: 14px;
    line-height: 17px;
}

.login-main .reg-form .gift-pkg i {
    float: left;
    width: 19px;
    height: 17px;
    margin-right: 6px;
    color: #222;
    background: url(../img/sprite1.png) no-repeat -75px -93px;
}

.login-main .reg-form .gift-pkg em {
    color: #f40;
}

/* 公共部分 */
/* 题头 */
.login-main .reg-form .title {
    float: left;
    width: 76px;
    height: 38px;
    padding-left: 11px;
    line-height: 38px;
    font-size: 12px;
    color: #222;
    background: #fff;
}

.login-main .reg-form .input-box {
    width: 378px;
    height: 38px;
    border: 1px solid #bbb;
}

/* 手机号码输入框 */
.login-main .reg-form .phone-filed {
    width: 380px;
    height: 65px;
}



/* 手机号输入框 */
.login-main .reg-form .phone-filed .text {
    width: 291px;
    height: 38px;
    border: none;
    font-size: 12px;
    float: left;
}

/* 提示手机号填写格式 */
.login-main .reg-form .phone-filed .error-msg {
    width: 380px;
    height: 22px;
    line-height: 22px;
    color: red;
    font-size: 12px;
}

/* 验证码 */
.login-main .reg-form .msg-filed {
    width: 380px;
    height: 74px;
    line-height: 38px;
}

/* 验证码 输入*/
.login-main .reg-form .msg-filed .passcode {
    float: left;
    width: 142px;
    height: 38px;
    border: none;
}

/* 点击发送验证码 */
.login-main .reg-form .msg-filed .send-msg {
    float: right;
    width: 148px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    background: #f5f5f5;
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
    font-size: 14px;
    margin: 0px -1px 0 0;
    color: #222;
}
.login-main .reg-form .msg-filed .send-msg:hover{
    color: #f40;
}
/* 提示填写手机验证码位数 */
.login-main .reg-form .msg-filed .error-msg {
    color: red;
    font-size: 12px;
    line-height: 34px;
    height: 34px;
    width: 380px;
}

/* 密码框 */
.login-main .reg-form .password-filed {
    width: 380px;
    height: 90px;
    position: relative;
}

/* 密码输入框 */
.login-main .reg-form .password-filed .setpwd {
    width: 291px;
    height: 38px;
    border: none;
    font-size: 12px;
    float: left;

}

/* 隐藏密码 */
.login-main .reg-form .password-filed .eye {
    width: 20px;
    height: 20px;
    top: 9px;
    right: 10px;
    cursor: pointer;
    position: absolute;
    background: url(../img/sprite1.png) -50px -93px no-repeat;
}

.login-main .reg-form .password-filed .suggestion {
    width: 380px;
    height: 22px;
    font-size: 12px;
    line-height: 22px;
    color: #999999;
    cursor: default;
}

.login-main .reg-form .password-filed .suggestion a {
    color: #333333;
}

.login-main .reg-form .password-filed .suggestion a:hover {
    color: red;
}

.login-main .reg-form .password-filed .security-level {
    width: 380px;
    height: 16px;
}

.login-main .reg-form .password-filed .security-level span {
    font-size: 12px;
    line-height: 22px;
}

.login-main .reg-form .password-filed .security-level .level {
    display: inline-block;
    width: 50px;
    height: 16px;
    text-align: center;
    line-height: 16px;
    margin-right: 2px;
    color: #fff;
    background: #cacaca;
    margin-top: 3px;
    /* background: #fa0; */
}

/* 提交注册 */
.login-main .reg-form .submit-btn {
    display: block;
    border-radius: 2px;
    text-align: center;
    width: 380px;
    line-height: 40px;
    background: #f60;
    font-size: 20px;
    color: #fff;
    margin: 24px 0 5px;
}

/* 企业用户 */
.login-main .reg-form .enter-reg {
    color: #f60;
    font-size: 14px;
    float: left;
    height: 21px;
}

.login-main .reg-form .enter-reg i {
    float: left;
    width: 17px;
    height: 15px;
    background: url(../img/sprite1.png) -141px -93px no-repeat;
    margin: 3px 5px 0 0;
}
/* foot-er */
.footer-con .url-list a:hover{
    color: #f40;
}