/* 商品信息 */
#wrapper-info {
    width: 100%;
    height: 923px;
    background: #ffffff;
}

.wrapper-proinfo {
    width: 1190px;
    height: 913px;
    margin: 0 auto;
    padding-top: 10px;
}

.wrapper-proinfo .proinfo-container {
    width: 1190px;
    height: 840px;

}

/* 左 */
.wrapper-proinfo .proinfo-container .proinfo-left {
    float: left;
    width: 452px;
    height: 570px;
}

.wrapper-proinfo .proinfo-container .proinfo-left .imgZoom {
    width: 450px;
    height: 450px;
    background: sienna;
    border: 1px solid #f8f8f8;
    margin-bottom: 10PX;
}

.wrapper-proinfo .proinfo-container .proinfo-left .imgZoom img {
    width: 100%;
    height: 100%;
}

.wrapper-proinfo .proinfo-container .proinfo-left .imgzoom-thumb {
    height: 64px;
    width: 400px;
    margin-left: 29px;
}

.wrapper-proinfo .proinfo-container .proinfo-left .imgzoom-thumb ul {
    width: 400px;
    height: 64px;

}

.wrapper-proinfo .proinfo-container .proinfo-left .imgzoom-thumb ul li {
    float: left;
    margin-right: 17px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    position: relative;
}

.wrapper-proinfo .proinfo-container .proinfo-left .imgzoom-thumb ul li a {
    width: 60px;
    height: 60px;
}

.wrapper-proinfo .proinfo-container .proinfo-left .imgzoom-thumb ul li a img {
    width: 60px;
    height: 60px;
}

.wrapper-proinfo .proinfo-container .proinfo-left .imgzoom-memo {
    margin-top: 10px;
    width: 452px;
    height: 20px;
}

.wrapper-proinfo .proinfo-container .proinfo-left .imgzoom-memo .z-item {
    float: left;
    cursor: pointer;
    margin-top: -2px;
    margin-right: 5px;
    line-height: 20px;
    color: #999;
}

.wrapper-proinfo .proinfo-container .proinfo-left .imgzoom-memo .z-item i {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 1px 3px 0;
}

.compare i {
    background: url(../img/f-icons-ex1.png) no-repeat -1016px -864px;
}

.favorite i {
    background: url(../img/f-icons-ex1.png) no-repeat -904px -864px;
}

.research i {
    background: url(../img/f-icons-ex1.png) no-repeat -734px -884px;
}

.wrapper-proinfo .proinfo-container .proinfo-left .imgzoom-memo .share {
    float: left;
    width: auto;
    color: #999;
    cursor: pointer;
    margin-right: 5px;
}

.wrapper-proinfo .proinfo-container .proinfo-left .imgzoom-memo .share .sh-i {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 2px 3px 0;
    background: url(../img/f-icons-ex1.png) no-repeat;
    background-position: -920px -864px;
}

/* 右 */
.wrapper-proinfo .proinfo-container .proinfo-right {
    float: right;
    width: 730px;
    height: 840px;
    padding-left: 8px;
}

/* 商品介绍 1*/
.proinfo-right .proinfo-title {
    width: 710px;
    padding: 13px 10px 12px;
    background: #fff;
}

.proinfo-right .proinfo-title h2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #222222;
    word-break: break-all;
    min-height: 24px;
}

.proinfo-right .proinfo-title h2 .zy {
    display: inline-block;
    min-width: 42px;
    padding: 0 1px;
    height: 20px;
    margin: 2px 5px 0 0;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    color: #fff;
    line-height: 20px;
    vertical-align: middle;
    background-color: #f50;
}

.proinfo-right .proinfo-title h3 {
    font-size: 14px;
    line-height: 18px;
    color: #ff6600;
    word-break: break-all;
}

.proinfo-right .proinfo-title h3 a {
    text-decoration: underline;
    color: #6a9fde;
}

.proinfo-right .proinfo-title h3 a:hover {
    color: #ff6600;
}

/* 活动图片 2*/
.proinfo-right .big-prom-img {
    width: 730px;
}

/* 活动倒计时3 */
.proinfo-right .timePanel {
    width: 730px;
    height: 40px;
    line-height: 40px;
    background: url(../img/f-icons-ex1.png) 0 -656px;
}

.proinfo-right .timePanel .djh-title {
    padding: 0 10px;
    border-right: 1px solid #fff;
    font: 700 16px/24px Microsoft Yahei;
    color: #fff;
    display: inline-block;
    height: 24px;
    vertical-align: -1px;
}

.proinfo-right .timePanel .djh-cd .djh-icon {
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    background: url(../img/f-icons-ex1.png);
    background-position: -752px -846px;
    margin-left: 16px;
    margin-top: -3px;
}

.proinfo-right .timePanel .djh-cd .active-label {
    color: #fff;
    margin-left: 6px;
    font-size: 12px;
}

.proinfo-right .timePanel .proinfo-cd span {
    width: 30px;
    text-align: center;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
}

.proinfo-right .timePanel .proinfo-cd em {
    width: 39px;
    height: 40px;
    font: 700 14px/40px Tahoma;
    color: #fff;
    overflow: hidden;
    word-break: break-all;
}

.proinfo-right .timePanel .timePanel-r {
    color: white;
    width: auto;
    margin-right: 12px;
    height: 20px;
}

/* 商品活动价格4 */
.proinfo-right .proinfo-focus {
    width: 730px;
    padding: 14px 0 8px;
    background: url(../img/price_bg_1.png)
}

.proinfo-right .proinfo-focus .price-container {
    position: relative;
}

.proinfo-right .proinfo-focus .price-container .price-promo {
    margin-bottom: 2px;
    margin-top: 0px;
}

.proinfo-right .proinfo-focus .price-container .price-promo dt {
    float: left;
    width: 70px;
    padding-left: 10px;
    color: #999;
    overflow: hidden;
    font-family: simsun;
    margin-top: 8px;
    font-size: 12px;
}

.proinfo-right .proinfo-focus .price-container .price-promo dd {
    height: 30px;
    width: 380px;
}

.proinfo-right .proinfo-focus .price-container .price-promo dd .mainprice {
    height: 28px;
    float: left;
    font: 700 30px/25px Tahoma;
    color: #e00;
}

.proinfo-right .proinfo-focus .price-container .super-vipbox {
    margin-bottom: 4px;
}

.proinfo-right .proinfo-focus .price-container .super-vipbox .superYz {
    line-height: 18px;
    margin-top: 8px;
    overflow: hidden;
    margin-left: 80px
}

.super-vipbox .superYz .super-vip-icon {
    float: left;
    width: 40px;
    height: 13px;
    margin-right: 6px;
    background: url(../img/vip-super-lpg.gif);
    border: 0;
    margin-top: 2px;
}

.super-vipbox .superYz .super-word {
    font-size: 12px;
    color: #333;
}

.super-vipbox .superYz .more-equity {
    font-size: 12px;
    color: #38d;
    margin-left: 13px;
}

.super-vipbox .superYz .more-equity:hover {
    text-decoration: underline;
}

.proinfo-focus .price-container .proinfo-comments {
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -20px;
    width: 70px;
    height: 40px;
    text-align: right;
}

.proinfo-focus .price-container .proinfo-comments span {
    text-decoration: underline;
    color: #666;
    font-weight: 600;
}

.receive-quan {
    width: 730px;
    height: 18px;
    margin-bottom: 4px;
    margin-top: 9px
}

.receive-quan dt {
    float: left;
    width: 70px;
    padding-left: 10px;
    color: #999;
    overflow: hidden;
    font-family: simsun;
    font-size: 12px;
}

.receive-quan dt .youhui {
    display: inline-block;
    width: 6em;
    font-family: simsun;
    letter-spacing: 0.5em;
    color: #999;
}

.receive-quan dd .a1 {
    float: left;
    display: block;
    width: 65px;
    height: 18px;
    background: url(../img/f-icons-ex1.png);
    background-position: -460px -378px;
    margin-right: 10px;
}

.receive-quan dd span {
    color: #666;
    padding-right: 15px;
    font-size: 12px;
}

.receive-quan dd .a2 {
    color: #38d;
    font-size: 12px;
}

.receive-quan dd .a2:hover {
    text-decoration: underline;
}

.proinfo-promo {
    padding: 5px 0;
    margin-bottom: 0;
}

.proinfo-promo dt {
    float: left;
    width: 70px;
    padding-left: 10px;
    color: #999;
    overflow: hidden;
    font-family: simsun;
}

.proinfo-promo dt span {
    letter-spacing: 2em;
    display: inline-block;
    width: 6em;
    font-family: simsun;
    font-size: 12px;
}

.proinfo-promo dd {
    margin-left: 80px;
}

.proinfo-promo ul li {
    overflow: visible;
    margin-bottom: 10px;
}

.proinfo-promo ul li label {
    float: left;
    width: 52px;
    margin-top: 1px;
    height: 16px;
    line-height: 16px;
    color: #f60;
    text-align: center;
    border: 1px solid #f60;
    font-size: 12px;
}

.proinfo-promo ul li .i-triangle {
    float: left;
    border: 4px solid;
    border-color: transparent transparent transparent #ccc;
    font-size: 0;
    margin-left: 4px;
    margin-top: 4px;
}

.proinfo-promo ul li .prom-info {
    margin-left: 64px;
    padding-right: 10px;
    overflow: hidden;
    color: #666;
    padding-left: 2px;
    line-height: 18px;
}

.proinfo-promo ul li .prom-info .desc {
    float: left;
    font-size: 12px;
}

.proinfo-promo ul li .prom-info a {
    color: #38d;
    display: inline-block;
    margin-left: 10px;
    font-size: 12px;
}

.proinfo-promo ul li .prom-info a:hover {
    color: #f40;
    text-decoration: underline;
}

.promotion-content {
    margin-left: 64px;
    padding-right: 10px;
    overflow: hidden;
    color: #666;
    padding-left: 2px;
}

/* 5支持 */

.support-panel {
    margin-right: 10px;
    margin-bottom: 0;
}

.support-panel dt {
    float: left;
    width: 70px;
    padding-left: 10px;
    color: #999;
    overflow: hidden;
    font-family: simsun;
}

.support-panel dt span {
    display: inline-block;
    width: 6em;
    font-family: simsun;
    letter-spacing: 2em;
    font-size: 12px;
}

.support-panel dd {
    margin-left: 80px;
}

.support-panel dd a .yjhx {
    position: relative;
    display: inline-block;
    color: #f60;
    line-height: 19px;
    border: solid #ffc8a3;
    border-width: 1px 0;
    margin-left: 10px;
    margin-right: 15px;
    padding-left: 12px;
    cursor: pointer;
}

.support-panel dd a .yjhx .icon {
    position: absolute;
    width: 15px;
    height: 15px;
    left: -7px;
    top: 2px;
    background: url(../img/f-icons-ex1.png) no-repeat -1004px -884px;
}

.support-panel dd a .yjhx .border-l {
    position: absolute;
    display: block;
    top: -1px;
    width: 10px;
    height: 21px;
    background: url(../img/f-icons-ex1.png) no-repeat -255px -904px;
    left: -10px;
}

.support-panel dd a .yjhx .border-r {
    position: absolute;
    display: block;
    top: -1px;
    width: 10px;
    height: 21px;
    background: url(../img/f-icons-ex1.png) no-repeat -265px -904px;
    right: -10px;
}

/* 6送至 */
.proinfo-deliver {
    margin-top: 9px;
    line-height: 28px;
    margin-bottom: 13px;
}

.proinfo-deliver dl {
    margin-bottom: 2px;
}

.proinfo-deliver dl dt {
    float: left;
    width: 70px;
    padding-left: 10px;
    color: #999;
    overflow: hidden;
    font-family: simsun
}

.proinfo-deliver dl dt span {
    display: inline-block;
    width: 6em;
    font-family: simsun;
    letter-spacing: 2em;
    font-size: 12px;
}

.proinfo-deliver dl .ui-city {
    height: 26px;
    font-size: 12px;
}

.proinfo-deliver dl .ui-city .ui-city-toggle {
    border: 0;
    padding: 2px 6px 6px;
    color: #666;
    margin-left: -6px;
    font-size: 12px;
}

.proinfo-deliver dl .ui-city .ui-city-toggle .arr {
    display: inline-block;
    width: 0;
    height: 0;
    border-color: #bbb transparent transparent;
    border-width: 5px;
    border-style: solid dashed dashed;
    margin-right: 5px;
    position: relative;
    top: 4px;
}

.proinfo-deliver dl .ui-city .freight {
    color: #666;
    font-size: 12px;
}

.proinfo-deliver dl .ui-city .freight:hover {
    text-decoration: underline;
    color: #f60;
}

.proinfo-deliver dl .supplier-row {
    font-size: 12px;
    margin-bottom: 0;
    line-height: 20px;
    color: #999;
}

.proinfo-deliver dl .supplier-row .contact-me {
    color: #666;
    white-space: nowrap;
    display: inline-block;
}

.proinfo-deliver dl .supplier-row .contact-me i {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-top: -1px;
    margin-right: 2px;
    background: url(../img/header-contact-self.gif);
}

/* 8 */
.divide {
    width: 730px;
    height: 15px;
}

.divide-line {
    border-top: 1px dotted #ddd;
}

/* 9 */
.tzm {
    position: relative;
    margin-top: 20px;
    width: 730px;
    height: 138px;
    font-size: 12px;
    color: #999;
}

.tzm dl dt {
    float: left;
    width: 70px;
    padding-left: 10px;
    color: #999;
    overflow: hidden;
    font-family: simsun;
}

.tzm dl dt span {
    display: inline-block;
    width: 6em;
    font-family: simsun;
    letter-spacing: 2em;
}

.tzm .proinfo-color-ex {
    padding-top: 5px;
    margin-bottom: 6px;
    height: 47px;
    width: 730px;
}

.tzm .proinfo-color-ex dt {
    line-height: 42px;
}

.tzm .proinfo-color-ex dd ul li {
    float: left;
    margin: 0 4px 5px 0;
}

.tzm .proinfo-color-ex dd ul li a {
    position: relative;
    float: left;
    height: 38px;
    line-height: 38px;
    padding: 1px 8px 1px 1px;
    border: 1px solid #ddd;
    color: #666;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
}

.tzm .proinfo-color-ex dd ul li a img {
    float: left;
    height: 38px;
    width: 38px;
    margin-right: 6px;
}

.tzm .proinfo-color-ex dd ul li a span {
    float: left;
    max-width: 180px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tzm .proinfo-buytype {
    padding-top: 5px;
    padding-bottom: 0;
    margin-bottom: 6px;
    width: 730px;
    height: 39px;
}

.tzm .proinfo-buytype dd {
    margin-left: 80px;
}

.tzm .proinfo-buytype ul li {
    float: left;
    margin: 0 5px 5px 0;
    white-space: nowrap;
}

.tzm .proinfo-buytype ul li a {
    position: relative;
    float: left;
    height: 32px;
    padding: 0 8px;
    border: 1px solid #ddd;
    line-height: 32px;
    background: #fff;
    max-width: 180px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}











.wrapper-proinfo .bespoke-process {
    width: 1190px;
    height: 83px;
    background: red;

}